**/*.o
*.a
*.tlog
ATTSK2/*/aclocal.m4
ATTSK2/*/arm-oe-linux-gnueabi-libtool
ATTSK2/*/autom4te.cache/
ATTSK2/*/c_demo
ATTSK2/*/c_demo
ATTSK2/*/compile
ATTSK2/*/config.*
ATTSK2/*/configure
ATTSK2/*/cpp_demo
ATTSK2/*/depcomp
ATTSK2/*/flame_demo
ATTSK2/*/hr4_demo
ATTSK2/*/install-sh
ATTSK2/*/libclick.a
ATTSK2/*/libvl53l0x.a
ATTSK2/*/ltmain.sh
ATTSK2/*/m4/
ATTSK2/*/Makefile
ATTSK2/*/Makefile.in
ATTSK2/*/missing
ATTSK2/*/relay_demo
ATTSK2/*/stamp-h1
ATTSK2/*/tof_demo
ATTSK2/*/.deps/*
**/obj
**/bin
**/.vs
*.log
**/*.Po
**/mbed-os.lib
**/mbed-os/

